  <div class="jumbotron">
    <h1 class="title">寻找圣诞老人</h1>
    <p class="slogan">圣诞·老人是一个在圣诞节招募圣诞老人的网站。
    <br>
    我们希望由这个网站，招募最有爱心的圣诞老人，圆孩子们的圣诞梦。
    <br>
     孩子们翘首以盼你的圣诞礼物呢
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>


  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://image.flaticon.com/icons/svg/658/658341.svg" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>装扮圣诞老人”为小朋友发糖果哦~</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://image.flaticon.com/icons/svg/658/658342.svg" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>圣诞我们不扮圣诞老公公，我们扮麋鹿好不好？</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://image.flaticon.com/icons/svg/658/658352.svg" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>为孩子们准备圣诞礼物</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
